@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

.base{
    background-color: blanchedalmond;
    height: 5000px;
    font-family: 'Playfair Display';
    overflow-x: hidden;
}


a {
    text-decoration: none;
}

.selected{
    background-color:rgba(105, 24, 24, 0.781); 
}


.body-text{
    font-size: 23px; 
    font-family: Poppins; 
    user-select: none;
}

.underline{
    width: 5em;
    height: 4px; 
    background-color: black; 
    display: flex;
    margin-bottom: 1em; 
}


.btn-active{
    background-color: rgb(15, 58, 122);
}

button{
    transform: scale(1);
    transition: transform 0.25s ease-in, background-color 0.25s ease-out;
}

button:hover{
    transform: scale(1.05);
    transition: transform 0.25s ease-out, background-color 0.25s ease-out;
    background-color: rgb(196, 193, 193);
}

.main-content{
    margin-left: 8vw;
}

.left-offset{
    margin-left: 15vw;
    padding: 2em;
}

.hover-animation{
    display: inline-block;
    background-color:rgba(105, 24, 24, 0.781) ;
    transition: padding-right 0.32s ease-in, transform 0.3s ease-in-out;

}

.hover-animation:hover{
    padding-right: 5em; 
    transition: padding-right 0.32s ease-out, transform 0.2s ease-in;
    transform: scale(1.1);
}

.slide{
    top: 0;
    z-index: -1;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section .card{
    border-radius: 0;
    border: 2px solid black;
}



.small-iconic-bridges{
    display: none;
}

.large-iconic-bridges{
    display: flex;
    flex-direction: column;
}


/* container -----------------------------------*/
.container-fluid{
    border-top: 7px solid black;
    justify-content: center;
    display: flex;
}




/* carousel -----------------------------------*/
.carousel-item,
.carousel-item img {
    width: 100%;
    filter: brightness(90%);   
    height: 50em;
    object-fit: cover; 
    
}

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
}

/* navbar -----------------------------------*/
.navbar,
.navbar-collapse,
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
}

.sidebar-navbar {
    width: 15vw;
    height: 100vh;
    align-items: center;
    position: fixed;
    background-color:brown; 
    border-right: 16px solid rgba(105, 24, 24, 0.781) ;
    border-left: 16px solid rgba(105, 24, 24, 0.781) ;
    border-bottom: 8px dotted rgba(105, 24, 24, 0.781);
    flex-direction: column;
}

.navbar-item{
    padding-bottom: 15px;
}

.navbar-brand {
    margin-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 4px solid rgba(105, 24, 24, 0.781);
    margin-bottom: 2em;
}

ul li{
    list-style-type: none;
}

.navbar-toggler:focus,
.navbar-toggler:hover,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:hover{
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

@media (max-width: 1010px)
{
    .sidebar-navbar{
        width: 100%;
        height: auto;
        border-bottom: 8px solid rgba(105, 24, 24, 0.781);
        flex-direction: row;
        padding: 1em;
    }

    .main-content{
        margin-left: -5vw;
    }

    .navbar-item {
        width: 100%;
        text-align: end;
    }

    .navbar-brand{
        border-bottom: none;
        width: 5px;
    }

    .navbar,
    .navbar-collapse,
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }

    a img{
        width: 100px;
        height: 100px;
    }

    .left-offset{
        margin-left: 0 !important; 
    }

    .d-flex{
        flex-direction: column;
        text-align: center;
    }

    .small-iconic-bridges{
        display: block;
    }

    .large-iconic-bridges{
        display: none;
        flex-direction: none;
    }

    .underline{
        align-self: center !important;
        justify-self: center !important;
    }
}